@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <head>
        <link href="~/css/style.css" rel="stylesheet" />
    </head>

    <h1>Floral World</h1>

    <img src="~/img/Flowers.jpg">

    <p>
        Welcome to Floral World, a company that is passionate about bringing the beauty and joy of flowers to people around the world. Our corporate headquarters are located in the heart of the city, where our team of dedicated professionals works tirelessly to ensure that our customers receive the highest quality flowers and services.

        At Floral World, we pride ourselves on our extensive knowledge of the flower industry and our commitment to providing exceptional customer service. Our staff includes experienced florists, horticulturists, and logistics experts who work together to ensure that our customers receive the freshest and most beautiful flowers possible.

        Our product line includes a wide variety of flowers, ranging from classic roses and tulips to exotic orchids and proteas. We work closely with local and international growers to ensure that we have access to the freshest and most unique flowers available.

        In addition to our standard product line, we also offer custom floral arrangements for special occasions such as weddings, anniversaries, and corporate events. Our team of designers works closely with clients to create unique and personalized arrangements that reflect their individual style and preferences.

        At Floral World, we are committed to sustainability and environmental responsibility. We work with our suppliers to ensure that our flowers are grown and harvested in a sustainable and ethical manner, and we strive to minimize our environmental impact by using eco-friendly packaging and shipping methods.

        Thank you for choosing Floral World as your go-to source for beautiful and high-quality flowers. We look forward to serving you and helping you to brighten up your home, office, or special event with the beauty of nature.

    </p>
}
